# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.idea/

# frontend

# ide
frontend/.idea/

# dependencies
frontend/node_modules/

# next.js
frontend/.next/
frontend/out/

# production
/build

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files
frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# backend

# ide
backend/.idea/
backend/*.iml

# build
backend/target/

# logs
backend/*.log

# environment
backend/.env
backend/application-local.*

# OS
backend/.DS_Store

# personalisation service

# venv
personalisation_service/venv/

# environment
personalisation_service/.env

# course_database

course_database/cache.json 
course_database/.env
course_database/__pycache__/